{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.center-card {
  margin: auto;
  width: 50%;

}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;

}
.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>



<div class="row">
  <div class="column left">
    <img src="{% static '/images/image_KAMI.jpg' %}" alt="KAMI foundation logo" style="width:350px;height:180px;padding-left: 10px;">
  </div>
  <div class="column right" >
    <h1 >KAMI Foundation | Milenial Mengabdi</h1>
    <h1 style="font-family:verdana;">Berbagi Ide Bersama KAMI</h1>
    <h5 style="font-family:courier;"> Yuk berbagi ide berbagi ide bersama KAMI, </h5>
    <h5 style="font-family:courier;"> Bantu KAMI berkembang dengan cara membagikan</h5>
    <h5 style="font-family:courier;"> aspirasi kamu. Karena kamu, KAMI maju.</h5>
  </div>
</div>


<h2 class="center">Ide Sejauh ini...</h2>

{% for i in data %}
<div class="center-card">
        <p class="card-text" style="font-family:courier;"> - {{i.masukan}}</p>

</div>
{% endfor %}


<ul class="center">
    <button><a href="{% url 'ideKAMI:create_ide' %}"> Klik disini untuk memasukan idemu!</a></button>
</ul>

{% endblock content%}